{% extends 'base.html.twig' %}

{% block title %}Summer - Modifier une information{% endblock %}

{% block body %}
    <h1>Modifier une information</h1>

    <p class="text-right"><a class="btn btn-info" href="{{ path('information.index') }}">Retour à la liste</a></p>

    {{ include('information/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
